<?xml version="1.0"?>
<launch>

  <arg name="topic_name" default="/master_phantom/pose"/>
  <arg name="read_ip" default="127.0.0.1"/>
  <arg name="read_port" default="34900"/>
  <arg name="publish_rate" default="1000.0"/>	
  <arg name="ref_frame" default="world"/>
   
  <!-- Receive UDP Node -->
  <node name="receive_udp_pose" pkg="teleop_strategies_controller" type="receive_udp_pose.py" output="screen"> 
	<param name="topic_name" type="string" value="$(arg topic_name)"/>
    <param name="read_ip" type="string" value="$(arg read_ip)"/>
    <param name="read_port" type="int" value="$(arg read_port)"/>
    <param name="publish_rate" type="double" value="$(arg publish_rate)" />
    <param name="ref_frame" type="string" value="$(arg ref_frame)"/>
  </node>
  
</launch>
